.add-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
  transition: .2s all;
  cursor: pointer;
  &:hover {
    background-color: #ffefd670;
  }
  
  &_hidden {
    display: none;
  }
  
  &__img {
    height: 32px;
  }

  &__label {
    font-size: 18px;
  }
}