@import "../../styles/variables";

.modal-img {
    z-index: 10;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    height: fit-content;
    max-width: 700px;
    max-height: 700px;

    border-radius: 8px;

    .img {
        width: 100%;
        max-width: 700px;
        height: 100%;
        max-height: 700px;
        object-fit: contain;
    }

    .close-popap-icon {
        position: absolute;
        top: -45px;
        right: -55px;
    }
}