@import "../../styles/variables";

.bubbles-date-group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  &__messages-wrapper {
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  &__user-messages-wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 0.3rem;
  }

  &__user-message{    
    position: relative;

    display: flex;
    flex-direction: column;
    max-width: 85%;
    min-width: 56px;
    padding: 6px 8px 6px 10px;

    background-color: $accent-color;
    border-radius: 12px 6px 0px 12px;
    box-shadow: 0 1px 2px 0 rgb(16 35 47 / 15%);

    .bubbles-date-group__time-n-check-wrapper {
      display: flex;
      justify-content: flex-end;

    }

    .bubbles-date-group__time {
      font-size: 12px;

      align-self: flex-end;

      color: $text-color-time-out;
    }
    

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      right: -20px;

      display: block;
      height: 10px;
      width: 20px;

      background: inherit;

      clip-path: url(#svgPath);
    }

    &.another-user {
      align-self: flex-start;

      background-color: $grey-main;
      border-radius: 6px 12px 12px 0px;

      .bubbles-date-group__time {  
        color: $text-color-time;
      }

      &::after {
        left: -20px;

        transform: scale(-1, 1);
      }
    }
  }

  &__check-mark {
    fill: $text-color-white;
    width: 12px;
    height: 12px;

    &.second-check {
      position: absolute;
      right: 4px;
    }
  }
}