@import "../../styles/variables";

#popup {
  position: absolute;
  top: 63px;
  left: 28px;

  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  opacity: 0;
  visibility: hidden;

  background: $main-color;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 22%);
  border-radius: 10px;

  transition: .2s ease-in-out;
  transform-origin: bottom left;

  &.active {
    opacity: 1;
    visibility: visible;

    transition: .2s ease-in-out;
    transform: scaleX(1);
    transform-origin: top left;
  }
}