@import "../../styles/variables";

.deletion-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  width: 240px;
  padding: 8px 20px 12px;

  background: $main-color;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 22%);
  opacity: 0;

  display: none;

  transform: translate(-50%, -50%);

  .avatar {
    width: 40px;
    height: 40px;
  }

  &__background {
    position: fixed;
    top: 0;
    z-index: 10;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.25);
  }

  &__header-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__header {
    font-size: 20px;
  }

  &__description {
    margin-bottom: 10px;
  }

  &__checkbox-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
    margin-bottom: 10px;

    background-color: $main-color;
    border: none;
    color: $text-color-white;

    cursor: pointer;

    input,
    label {
      cursor: pointer;
    }
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    padding: 12px 10px 10px;

    font-size: 16px;
    text-decoration: none;

    color: $accent-color;
    background-color: $main-color;
    border: none;
    border-radius: 10px;

    transition: .2s all;

    cursor: pointer;

    &.delete {
      color: $danger-color;

      &:hover {
        background-color: rgba($danger-color, 0.05);
      }
    }

    &:hover {
      background-color: $accent-hover-folder;
    }
  }

  &.active {
    opacity: 1;

    display: block;
  }
}