.chat {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
  height: 100vh;
}

.hide {
  position: absolute;
  
  visibility: hidden;

  button {
    visibility: hidden;
  }
}