@import "../../styles/variables";

.context-menu {
    position: fixed;
    top: 30%;
    left: 10%;
    z-index: 10;

    padding: 8px;

    background: $grey-main;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 22%);
    opacity: 0;

    display: none;

    &.active {
        opacity: 1;

        display: block;
    }
}
