@import "../../styles/variables";

.edit-group {

  &__info {
    margin-bottom: 12px;
  
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
  
    background-color: $grey-main;
  }

  &__users-list-wrapper {
    padding: 10px;

    background-color: $grey-main;
  }

  &__users-count {
    padding: 5px 10px;

    color: $accent-color;
  }

  &__users-list {
    max-height: calc(100vh - 380px);

    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 100%;
      height: 4px;
      background: $grey-main;
    }

    &::-webkit-scrollbar-thumb {
      background: $grey-secondary;
    }
  }

  .header {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: .5rem;

    background-color: $grey-main;

    &__arrow {
      width: 2.5rem;
      height: 2.5rem;

      background: none;
      border: none;

      cursor: pointer;

      .icon {
        font-size: 1.3rem;
        padding: 0.3125rem;
      }

      &:hover {
        border-radius: 50%;
        background-color: $grey-hover;
      }
    }

    &__text {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
}


