@import "../../styles/variables";

.bubble__user-message {
  position: relative;

  display: flex;
  flex-direction: column;
  max-width: 85%;
  min-width: 56px;
  padding: 6px 8px 6px 10px;
  margin-right: 64px;

  background-color: $accent-color;
  border-radius: 12px 6px 0px 12px;
  box-shadow: 0 1px 2px 0 rgb(16 35 47 / 15%);

  .bubble__time-n-check-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .bubble__time {
    font-size: 12px;

    align-self: flex-end;

    color: $text-color-time-out;
  }


  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    right: -19px;

    display: block;
    height: 9.5px;
    width: 20px;

    background: inherit;

    clip-path: url(#svgPath);
  }

  &.another-user {
    align-self: flex-start;

    background-color: $grey-main;
    border-radius: 6px 12px 12px 0px;

    .bubble__time {
      color: $text-color-time;
    }

    &::after {
      left: -20px;

      transform: scale(-1, 1);
    }

    .img {
      width: 100%;
      max-width: 260px;
      border: 5px solid $grey-main;
      border-radius: 20px;
    
      &.none {
        display: none;
      }
    }
  }

  .img {
    width: 100%;
    max-width: 260px;
    border: 5px solid $accent-color;
    border-radius: 20px;
  
    &.none {
      display: none;
    }
  }
}

.bubble__check-mark {
  fill: $text-color-white;
  width: 12px;
  height: 12px;

  &.second-check {
    position: absolute;
    right: 4px;
  }
}

.message {
  font-size: 1rem;
  line-height: 1.3125;

  max-width: 360px;
}

