@import "../../styles/variables";

#top-panel-popup {
  position: absolute;
  top: 63px;
  right: 20px;

  display: flex;
  flex-direction: column;
  padding: 1rem;

  visibility: hidden;

  background: $grey-main;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 22%);
  border-radius: 10px;

  transition: .2s ease-in-out;
  transform-origin: bottom right;

  &.active {
    visibility: visible;
    transition: .2s ease-in-out;
    transform: scaleX(1);
    transform-origin: top right;
  }
}