@import "../../styles/variables";

.sidebar-header {
  width: 100%;
  max-width: 420px;
  height: 56px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 10px 0;
  
  background-color: $grey-main;
}
