@import "../../styles/variables";

.top-panel-pinned {
  &__wrapper {
    display: flex;
    margin-left: 1rem;
  }

  &__pinned-messages {
    display: flex;
    gap: 0.5rem;
  }

  &__left-border {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__line {
    height: 100%;

    fill: rgba($accent-color, 0.3);

    &.active {
      fill: $accent-color;
    }
  }

  &__message-content {
    font-size: .875rem;

    display: flex;
    flex-direction: column;
    max-width: 20vw;
    width: 100%;

    overflow: hidden;
  }

  &__pinned-message-text {
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    color: $accent-color;
    
    overflow: hidden;
  }

  &__message {
    line-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__btn {
    display: flex;
    align-items: center;
    margin-left: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.25rem;

    background: none;
    border: none;

    cursor: pointer;

    &:hover {
      background-color: rgba($grey-secondary, 0.08);
      border-radius: 50%;
    }
  }
  &__pin-icon {
    width: 100%;
    height: 100%;

    fill: $grey-secondary;
  }
}