@import "../../styles/variables";

.icon-button {
    position: absolute;
    bottom: 20px;
    right: 15px;
    width: 54px;
    height: 54px;

    border: none;
    border-radius: 50%;
    color: $const-white;
    background-color: $accent-color;
    cursor: pointer;
    opacity: 1;

    visibility: visible;

    &:hover {
        background-color: $accent-hover-dark;
    }

    &.hidden {
        opacity: 0;

        visibility: hidden;
    }
}

#button-svg {
    height: 100%;
}