@import "../../styles/variables";

.attach-popup {
    position: absolute;
    bottom: 63px;
    right: 0;

    padding: 8px;

    background: $grey-main;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 22%);
    opacity: 0;

    transition: linear .2s;

    visibility: hidden;

    &.active {
        opacity: 1;

        visibility: visible;
    }

    .popup-item {
      padding: 0 4px;
    }
}

.input-file {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
