@import "../../styles/variables";

#popap {
    position: absolute;
    top: 65px;
    left: -28px;

    width: 100%;
    max-width: 250px;
    padding: 8px;

    visibility: hidden;

    background: $grey-main;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 22%);
    transition: linear .15s;

    &.active {
        top: 65px;
        left: 15px;

        visibility: visible;
        transition: linear .15s;
    }
}
