@import "../../styles/variables";

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;

    background: $main-color;

    .github-icon {
        width: 100%;
        max-width: 45px;

        transition: all .3s;
        
        cursor: pointer;

        fill: $rss-link;

        &:hover {
            fill: $accent-color;
            opacity: .9;
            transition: all .3s;
        }
    }

    &__rsschool {
        width: 100%;
        max-width: 100px;

        transition: all .3s;

        fill: $rss-link;

        .links__rsschool__path {
            transition: all .3s;

            fill: $rss-link;
        }

        &:hover {
            fill: $accent-color;
            opacity: .9;
            transition: all .3s;

            .links__rsschool__path {
                fill: $accent-color;
                transition: all .3s;
            }
        }

        
    }
}