@import "./variables";

.container {
  box-sizing: border-box;

  background-color: $grey-dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-color-white;
}

.icon {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 25px;
  height: fit-content;
  margin-right: 10px;

  color: $grey-lite;
}
