$accent-color: #8774e1; // яркий цвет, цвет выбранной темы, акцентный
$grey-main: #212121; // основной серый ( фон сообщений, табов и т.д. )

$grey-dark: #181818; // темный серый ( такие места как поиск )
$grey-lite: #707070; // светло-серый (такие элементы как кол-во сообщений)

$grey-secondary: #6f6f6f; // второстепенный серый ( некоторые иконки, статус последнего онлайна и т.д. )
$grey-hover: #333333; // к примеру цвет фона сообщения при наведении на него в чат-листе
$accent-hover-dark: #7963dd; // при наведении на иконку создания нового чата
$accent-hover-folder: #292830; // при наведении на папку чатов

$text-color-white: #ffff;
