@import "../../styles/variables";

.edit-profile {
  .header {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: .5rem;

    background-color: $grey-main;

    &__arrow {
      width: 2.5rem;
      height: 2.5rem;

      background: none;
      border: none;

      cursor: pointer;

      .icon {
        font-size: 1.3rem;
        padding: 0.3125rem;
      }

      &:hover {
        border-radius: 50%;
        background-color: $grey-hover;
      }
    }

    &__text {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
}

.edit-user-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1.5rem;

  background-color: $grey-main;

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
  }

  &__ava {
    width: 7.5rem;
    height: 7.5rem;
    max-height: 240px;

    border-radius: 50%;

    object-fit: cover; 
    filter: brightness(60%);
  }
}