@import "../../styles/variables";

.edit-profile {
  .header {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: .5rem;

    background-color: $grey-main;

    &__arrow {
      width: 2.5rem;
      height: 2.5rem;

      background: none;
      border: none;

      cursor: pointer;

      .icon {
        font-size: 1.3rem;
        padding: 0.3125rem;
      }

      &:hover {
        border-radius: 50%;
        background-color: $grey-hover;
      }
    }

    &__text {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
}

.edit-user-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1.5rem;

  background-color: $grey-main;

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
  }

  &__ava {
    width: 7.5rem;
    height: 7.5rem;
    max-height: 240px;

    border-radius: 50%;

    object-fit: cover; 
    filter: brightness(60%);
  }

  &__input-wrapper {
    position: relative;

    display: flex;

    &:hover {
      .edit-user-info__label,
      .edit-user-info__max-length,
      ::placeholder {
        color: $accent-color;
      }
    }
  }

  &__input {
    flex-grow: 1;
    padding: 13.4px 11px;

    color: $text-color-white;
    background: none;
    border: 1px solid $grey-lite;
    border-radius: 0.75rem;

    outline: none;

    &:hover {
      border: 1px solid $accent-color;

      .edit-user-info__label,
      .edit-user-info__max-length,
      ::placeholder {
        color: $accent-color;
      }
    }

    &:focus {
      border: 1px solid $accent-color;
    }
  }

  &__label,
  &__max-length {
    position: absolute;
    
    font-weight: 500;

    color: $grey-lite;
    background-color: $grey-main;
    padding: 0 2px;
  }

  &__label {
    top: -10px;
    left: 5px;

    font-size: .71rem;
  }

  &__max-length {
    bottom: -10px;
    right: 10px;

    font-size: .75rem;
  }

  &__descr {
    font-size: .83rem;
    font-weight: 500;

    padding-bottom: 1.5rem;

    color: $grey-lite;
  }
}

.edit-user-info__input:focus + .edit-user-info__label,
.edit-user-info__input:focus ~ .edit-user-info__max-length,
.edit-user-info__input:focus::placeholder {
  color: $accent-color;
}
