@import "../../styles/variables";

.edit-profile {
  .header {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: .5rem;

    background-color: $grey-main;

    &__arrow {
      width: 2.5rem;
      height: 2.5rem;

      background: none;
      border: none;

      cursor: pointer;

      .icon {
        font-size: 1.3rem;
        padding: 0.3125rem;
      }

      &:hover {
        border-radius: 50%;
        background-color: $grey-hover;
      }
    }

    &__text {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
}

.edit-user-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1.5rem;
  padding-bottom: 1.5rem;

  background-color: $grey-main;

  .form-input {
    border: 1px solid $input-border-color;

    &:hover {
      border: 1px solid $accent-color;
    }
  
    &:focus {
      border: 2px solid $accent-color;
    }

    &:focus + .form-input__label {
      left: 13px;
      top: -7px;
      z-index: 10;
  
      font-size: .71rem;
      font-weight: 500;
  
      color: $accent-color;
    }

    &:not(:placeholder-shown) + .form-input__label {
      left: 13px;
      top: -7px;
      z-index: 10;
  
      font-size: .71rem;
      font-weight: 500;
    }
  }

  &__descr {
    font-size: .85rem;
    font-weight: 500;

    padding: .7rem 1.5rem;

    color: $label-color;
  }
}
