@import "../../styles/variables";

.messenger {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  width: 100%;
  max-width: 1682px;
  border-right: 1px solid $blackout-color;
  border-left: 1px solid $blackout-color;

  overflow: hidden;
}
