@import "../../styles/variables";

.create-popup {
  position: absolute;
  bottom: 83px;
  right: 15px;

  padding: 8px;

  background: $main-color;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 22%);
  opacity: 0;

  transition: linear .2s;

  visibility: hidden;

  &.active {
    opacity: 1;

    visibility: visible;
  }

    .popup-item {
      padding: 5px;
    }

    .popup-svg {
      transform: scale(.9);

      &_private {
        transform: scale(1.4);
      }
    }
}
