@import "../../styles/variables";

.search-bar {
  width: 100%;
  height: 24px;
  padding-left: 10px;
  border: none;
  border-radius: 12px;
  outline: none;
  color: #fff;
  background-color: $grey-dark;
  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}