@import "../../styles/variables";

.chat-info {
  display: flex;
  align-items: center;
  gap: 1.125rem;
  width: 100%;

  cursor: pointer;


  &__info {
    line-height: 1.3125;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__title {
    font-weight: 500;
    font-size: 1rem;
  }

  &__status {
    font-size: .875rem;

    color: $grey-secondary;
  }

  .online {
    color: $accent-color;
  }
}