@import "../../styles/variables";

.gallery {
  min-height: 200px;
  background: $main-color;

  &__tab {
    display: flex;
    align-items: center;
    padding: 13px;

    white-space: nowrap;
    font-size: 1rem;

    background-color: $main-color;
    border: none;
    border-bottom: 3px solid $accent-color;
    cursor: pointer;

    &:hover {
      background: $accent-hover-folder;
    }

    &__title {
      color: $accent-color;
      margin-right: 5px;
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;

    .img {
      max-width: 34%;
      width: 140px;
      height: 140px;
      object-fit: cover;
      cursor: pointer;
    }

    @media (max-width: 420px) {
      .img {
        max-width: 50%;
        width: 176px;
        height: 176px;
      }
    }
  }


}