@import "../../styles/variables";

.bubbles-date {
  z-index: 2;

  display: block;
  align-self: center;
  padding: 0.28125rem 0.625rem;

  background-color: rgba($accent-color, 0.5);
  border-radius: 0.875rem;
}