@import "../../styles/variables";

.popup-item {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;

    font-weight: 500;

    background: none;
    border: none;
    color: $text-color-white;

    &:hover {
        background: $grey-hover;
        border-radius: 8px;
        cursor: pointer;
    }
}

.popup-svg {
    height: fit-content;
    width: 25px;

    margin-right: 10px;

    fill: $grey-lite;
}

.log-out-popup {
  height: 25px;

  transform: scale(-1, 1);
}

.phone-popup {
  scale: (1.3);
}

.image-popup {
  transform: scale(.65);
}

.document-popup {
  transform: scale(.5);
}

.image-popup,
.document-popup {
  fill: $text-color-white;
}
