@import "../../styles/variables";

.popup-item {
  font-size: .875rem;
  line-height: 18px;
  font-weight: 500;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  width: 100%;

  background: none;
  border: none;
  color: $text-color-white;

  &:hover {
      background: $grey-hover;
      border-radius: 8px;
      cursor: pointer;
  }
}

.popup-svg {
    height: fit-content;
    width: 25px;

    margin-right: 10px;

    fill: $text-color-white;
}

.log-out-popup {
  height: 25px;

  transform: scale(-1, 1);
}

.muted-bell-popup {
  transform: scale(.75);
}

.phone-popup {
  scale: (1.15);
}

.trash-popup {
  transform: scale(.8);

  fill: $danger-color;
}

.image-popup {
  transform: scale(.65);
}

.document-popup {
  transform: scale(.7);

  stroke: $text-color-white;
  stroke-width: 3%;
}

.search-popup {
  transform: scale(.75);
  stroke: $text-color-white;
  stroke-width: 3;
}